<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.dmwss.emulator"
          android:versionName="1.1.10"
          android:versionCode="1"
          android:installLocation="auto">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34"/>

    <!-- Used by the TCP link cable feature to host/connect over the network -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:anyDensity="true"
        android:smallScreens="true"/>

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="dmwss"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:allowBackup="true">

        <!-- Rotates freely with the device. The mobile UI (touch D-pad/
             buttons, fast-forward toggle, hamburger settings menu) lays
             itself out relative to the current window size on every
             resize, so it adapts to both portrait and landscape.
             "orientation" is listed in configChanges below so Qt gets a
             resize event on rotation instead of the activity (and its GL
             context) being torn down and recreated. -->
        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:label="dmwss"
            android:screenOrientation="fullSensor"
            android:launchMode="singleTask"
            android:exported="true"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="dmwss"/>
        </activity>
    </application>
</manifest>
